.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.group {
  margin: 1rem 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.quantityContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 2rem;
  font-size: 1rem;

  svg {
    cursor: pointer;
    font-size: 1.25rem;
    color: #1890ff;
  }
}
